<!-- <div class="container border border-dark rounded my-5 p-5">
  <app-myform></app-myform>
</div> -->


<!-- <table class="table w-75 m-4">
  <thead>
    <tr>
      <th>Stream</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BCA</td>
      <td><a routerLink="data1">Show DateSheet</a></td>
    </tr>
    <tr>
      <td>CSE</td>
      <td><a routerLink="data2">Show DateSheet</a></td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet> -->

<app-post></app-post>